<div class="header">
    <button class="close-button" (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
</div>

<div class="modal-content">
  <div class="info-side">
    <div class="content">
      <h3 class="content-card-name">{{ data.name }}</h3>
      <p>🗂️ List: {{statusName}}</p> 
      <p>📅 Due date: {{data.dueDate | date: 'E, dd LLL'}}</p> 
      <p>📑 Priority: {{ data.priorityName }}</p>
      <h4 class="context-card-description">Description</h4>
      <p>{{ data.description }}</p>
    </div>
  </div>

  <div class="history-side">
    <div class="history-content">
      <ul>
        <li class="log-item" *ngFor="let log of logs$ | async">
          <span [innerHTML]="formatDetails(log.details)"></span> <br> 
          <span class="log-date">{{ log.date | date: "medium" }}</span>
        </li>
      </ul>

      <button class="show-more-button" *ngIf="showMoreButtonVisible" (click)="loadLastLogsByCardId()">
        <mat-icon>arrow_downward</mat-icon>Show more
      </button>
    </div>
  </div>
</div>