.root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.board {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
    min-height: 0;

    .board-bar {
        background: rgba(grey, 0.5);
        padding: 8px 15px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .board-name {
            font-size: 20px;
            font-weight: bold;
            color: white;
            background-color: #333;
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
        }

        .board-controls {
            display: flex;
            align-items: center;
        }

        .button-group {
            margin-left: 30px;

            .add-button {
                background-color: #007bff;
                color: white;
                margin-right: 15px;
                padding: 8px 16px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s;
            }

            .edit-button {
                color: white;
                background-color: #4CAF50;
                margin-right: 15px;
                padding: 8px 16px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s;
            }
        
            .delete-button {
                color: white;
                background-color: #f44336;
                margin-right: 15px;
                padding: 8px 16px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s;
            }
        }
        
        .board-history {
            font-size: 20px;
            font-weight: bold;
            text-align: center;

            background: linear-gradient(
                to right,
                #7953cd 20%,
                #00affa 30%,
                #0190cd 70%,
                #764ada 80%
            );
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 500% auto;
            animation: textShine 5s ease-in-out infinite alternate;

            @keyframes textShine {
                0% {
                    background-position: 0% 50%;
                }
                100% {
                    background-position: 100% 50%;
                }
            }
        }
    }

    .board-wrapper {
        display: flex;
        flex-grow: 1;
        overflow-x: auto;

        .board-columns {
            //flex-grow: 1;
            display: inline-block;
            vertical-align: top;
            white-space: normal;

            .board-column {
                width: 300px;
                display: flex;
                flex-grow: 1;
                flex-direction: column;
                flex-basis: 0;
                border-radius: 5px;
                min-width: 300px;
                margin: 50px;
                padding: 25px;
                background: rgba(white, 0.6);
                &:not(:first-child){
                    margin-left: 0;
                }
                
                .column-title {
                    font-size: 22px;
                    font-weight: 700;
                    margin-bottom: 20px;
                    color: rgba(14, 12, 13, 0.8)
                }

                .cards-sum{
                    font-size: 22px;
                    font-weight: 700;
                    margin-bottom: 20px;
                    color: rgba(14, 12, 13, 0.8)
                }
            }
        }
    }
}

.new-column {
    border-style: dashed;
    padding: 15px 12px;
    border-radius: 8px;
    margin-bottom: 15px;
    color: rgba(14, 12, 13, 0.8);
    font-weight: 600;
    text-align: center;
}

.new-list {
    border-style: dashed;
    border-radius: 8px;
    margin: 50px;
    padding: 25px;
    color: rgba(244, 240, 242, 0.8);
    display: inline-flex; 
}

.task-container {
    flex-grow: 1;
}

.task {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    flex-basis: 0;
    padding: 15px 12px;
    background: white;
    border-bottom: solid 1px #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05), 0 3px 14px 2px rgba(0, 0, 0, 0.05);
    color: rgba(14, 12, 13, 0.8);
    font-weight: 600;
}

.task-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    cursor: pointer;
}

.task-description {
    font-size: 16px;
    margin-bottom: 8px;
    color: grey;
}

.task-date {
    font-size: 16px;
    margin-bottom: 8px;
    color: grey;
}

.task-priority {
    font-size: 16px;
    margin-bottom: 8px;
    color: grey;
    background-color: paleturquoise;
    border-radius: 7px;
    text-align: center;
}

.select {
    font-size: 16px;
    font-weight: bold;
}

.task-head, .column-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-button {
    text-align: left;
    &:hover {
        background-color: #e0e0e0;
    }
}

.delete-button {
    text-align: left;
    &:hover {
        background-color: #e0e0e0;
    }

    .text-delete-button {
        color: red;
    }
}

.dots-menu {
    margin-bottom: 12px;

    .dots-icon {
        color: black;
    }
}